commands: 
  set-env-nr-agent-infra-licence:
    command: setx NRIA_LICENSE_KEY "e5f1d0919ddb0cbf6bd76f208239b91096350ddc" /M

  set-env-nr-agent-app-licence:
    command: setx NEW_RELIC_LICENSE_KEY "e5f1d0919ddb0cbf6bd76f208239b91096350ddc" /M

  set-env-nr-agent-app-name:
    command: setx NEW_RELIC_APP_NAME "DevopsTrain GeopositionService AWS EB" /M

  set-env-nr-agent-app-enable:
    command: setx CORECLR_ENABLE_PROFILING "1" /M

  set-env-nr-agent-app-profiler:
    command: setx CORECLR_PROFILER "{36032161-FFC0-4B61-B559-F6C5D41BAE5A}" /M

  set-env-nr-agent-app-profiler-path:
    command: setx CORECLR_PROFILER_PATH "C:\inetpub\AspNetCoreWebApps\geolocation-app\newrelic\NewRelic.Profiler.dll" /M
  
  set-env-nr-agent-app-profiler-home:
    command: setx CORECLR_PROFILER_PATH "C:\inetpub\AspNetCoreWebApps\geolocation-app\newrelic" /M
